<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.joyhonest.joy_camera">

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity android:name=".Enforcer.Enforcer_StartActivity"></activity>
        <activity
            android:name=".Ultradrone.JH_UltradroneActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".SettingsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".HelpActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".FirstActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/FullScreen">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".Joyh_MainActivity"
            android:configChanges="keyboard|keyboardHidden|screenSize"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".DispVideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".DispPhotoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".BrowSelectActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/FullScreen" />
        <activity
            android:name=".GridActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="sensorLandscape"
            android:theme="@style/FullScreen" />
    </application>

</manifest>